@model IEnumerable<ProjectViews.Areas.User.Models.CartDetailModel>;
@{
	ViewData["Title"] = "Show";
	Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    @{
        var total = 0;
        var count = 0;

    }
    <div class="divTable div-hover">
        @if (Model == null)
        {
            <h1 class="mt-5">No items in cart.</h1>
        }
        else
        {
            @if (Model.Count() == 0)
            {
                <h1 class="mt-5">No items in cart.</h1>
            }
            else
            {
                <div class="rowTable bg-primary text-white pb-2">
                    <div class="divTableCol">Name</div>
                    <div class="divTableCol">Style</div>
                    <div class="divTableCol">Quantity</div>
                    <div class="divTableCol">Price</div>
                    <div class="divTableCol">Total</div>
                    <div class="divTableCol">Actions</div>
                </div>
                foreach (var Item in Model)
                {
                    <div class="rowTable">
                        <div class="divTableCol">
                            <div class="media">
                                <a class=" pull-left mr-2 ml-0" href="#">
                                    <img src="~/UserAsssets/images/@Item.ImageSource" alt="Product Image" width="50" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="">@Item.name</a>
                                    </h4>
                                    <h5 class="text-danger">
                                        <a>@Item.name</a>
                                    </h5>
                                    @if (_productServices.GetProductById(Item.IdSp).Status == 1)
                                    {
                                        <span>Status: Kha Dung </span>
                                    }
                                    else
                                    {
                                        <span>Status: Hen xui </span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="divTableCol">
                            <div class="input-group " id="quantity-div">
                                <input type="number" class="text-center" value="@Item.quantity" id="quantity" name="quantity">
                            </div>
                        </div>
                        <div class="divTableCol" id="total-div">
                            <strong>Price</strong>
                        </div>
                        <div class="divTableCol">
                            <strong>Totle</strong>
                        </div>
                        <div class="divTableCol">
                            <a href="" class="btn btn-danger btn-sm">Remove</a>
                        </div>
                    </div>
                }

                <div class="rowTable">
                    <div class="divTableCol"></div>
                    <div class="divTableCol">
                        <h6>Count</h6>
                    </div>
                    <div class="divTableCol">
                        <h6>
                            <strong>@count</strong>
                        </h6>
                    </div>
                    <div class="divTableCol">
                        <h6>Total</h6>
                    </div>
                    <div class="divTableCol">
                        <h6>
                            <strong>$@total</strong>
                        </h6>
                    </div>
                    <div class="divTableCol"></div>
                </div>
                <div class="rowTable">
                    <div class="divTableCol"></div>
                    <div class="divTableCol"></div>
                    <div class="divTableCol"></div>
                    <div class="divTableCol"></div>
                    <div class="divTableCol"></div>
                    <div class="divTableCol">
                        <a asp-controller="" class="btn btn-primary" asp-action="">
                            PAY NOW
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>