@model Data.Models.Sizes

@{
    ViewData["Title"] = "Create Size";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create Size</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSize">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Your Chose : <span id="size">0</span></p>
            <div class="form-group">
                <input asp-for="SizeNumber" class="form-control mt-4" type="range" min="1" max="50" id="sizeRange" value="1"/>
                <span asp-validation-for="SizeNumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowSize">Back to List</a>
</div>
<script>
    var slider = document.getElementById("sizeRange");
    var output = document.getElementById("size");
    output.innerHTML = slider.value;
    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>